body {
  font-family: "Roboto", sans-serif;
}

.container-list {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  border-bottom: #ececec solid 1px;
  height: 80px;
  
}

.div-list ul {
  display: flex;
  gap: 50px;
  padding-left: 0px;
  margin: 32px 0px 32px 93px;
}

ul {
  list-style-type: none;
}

.logo-section {
  text-decoration: none;
}



.logo-section p {
  color: #000;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
  margin: 24px 0px 25px 215px;
}

.logo-section span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.connect {
  color: #2196f3;
}

.nav-section {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  list-style-type: none;
  text-decoration: none;
}

.connect {
  color: #2196f3;
}

.nav-section:hover {
  color: #2196f3;
}

.contacts-list {
  display: flex;
  gap: 40px;
  margin-left: 385px;
} 

.contacts-list a {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0.28px;
  text-decoration: none;
}

.contacts-list a:focus,
.contacts-list a:hover {
  color: #2196f3;
}

.section-background {
  display: flex;
  background-color: #2f303a;
  width: 100%;
  height: 600px;
  text-align: center;
  justify-content: space-evenly;
  align-items: center;
}

.effective-solution-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.tittle-style {
  color: #fff;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 2.64px;
  text-transform: uppercase;
}

.button-style {
  background: #2196f3;
  border: none;
  cursor: pointer;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  letter-spacing: 0.96px;
  border-radius: 2px;
}

.button-style:hover {
  background-color: #188ce8;
}

.details-content-container {
  display: flex;
  justify-content: space-around;
}

.details-content {
  display: flex;
  gap: 30px;
}

.details-content li {
  width: 270px;
}

.what-we-do-section h3 {
  color: #212121;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
}

.what-we-do-section p {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.42px;
}

.what-we-do-section h2 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.photo-position-container {
  display: flex;
  justify-content: center;
}

.photo-position {
  display: flex;
  gap: 30px;
}

.our-team-section h2 {
  color: #212121;
  text-align: center;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.our-team-section h3 {
  color: #212121;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.08px;
}

.our-team-section p {
  color: #757575;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.48px;
}

.our-team-section {
  background: #f5f4fa;
}

.our-team-section li {
  background-color: #fff;
}

.team-style {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.footer-background {
  background: #2f303a;
  height: 251px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.footer-logo p {
  margin-left: 215px;
}

.footer-section {
  text-decoration: none;
}

.footer-section span {
  color: #2196f3;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.footer-section p {
  color: #fff;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.78px;
}

.contacts-footer p {
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.42px;
  margin: 0px;
}

.contacts-footer {
  width: 231px;
  height: 72px;
  margin-left: 215px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contacts-footer a {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.42px;
  text-decoration: none;
}

/* Portofolio */

.portofolio-section {
  width: 1200px;
  height: 1360px;
  margin: 94px 215px;
}

.button-section-container ul {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.cards-section {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-top: -10px;
  gap: 30px;
}

.cards-items {
  margin-left: 10px;
  margin-top: 10px;
}

.button-section {
  color: #212121;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.48px;
}

.button-section:focus,
.button-section:active {
  background-color: #2196f3;
  color: #fff;
}

.cards-section h3 {
  color: #212121;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 1.08px;
}

.cards-section p {
  color: #757575;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.48px;
}

